* {
  box-sizing: border-box;
}
.icon{
  display:flex;
  background-color: #161619;
}

body {
  background-color: #23252C;
  font-family: Inter, sans-serif;
}
.info {
  color: white;
  text-align: center;
}
.info--profile {
  max-width: 300px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.about {
  color:white;
  padding: 10px 30px;
}
.about--title {
  font-size: 16px;
  font-weight: bold;
}
.about--text {
  font-size: 11px;
  font-weight: lighter;
}
.info--name {
  font-size: 25px;
}
.info--site {
  font-size: 11px;
}
.info--occupation {
  font-size: 13px;
  color: #F3BF99;
}

footer {
  justify-content: center;
  padding: 0.8rem;
  color: #161619;
  font-size: 1.3rem;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;

}

.container {
  color: #1A1B21;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  background: #1A1B21;
  border-radius:  0 0 10px 10px;
  margin:50px auto;

}

.interests {
  color: white;
  padding: 10px 30px;

}
.interests--title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0;
}
.interests--text {
  font-size: 11px;
  font-weight: lighter;
}

.btn {
  width: 250px;
}
